<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>身分證字號錯誤</title>
    </head>
    <body>
        <h1>身分證字號錯誤</h1>
        <button type="button" onclick="back()">返回</button>
        <script>
            function back(){
                url = window.location.protocol+"//"+window.location.host+"/"
                window.location.replace(url)
            }
        </script>
    </body>
</html>